@model IEnumerable<Vehiculos.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehiculos";
}

<h1>Listado de Vehiculos</h1>

<p>
    <a asp-action="Create">Agregar nuevo vehiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puertas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puertas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titular)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehiculoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VehiculoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.VehiculoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
